.about-section {
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
}

.about-content h2 {
  font-size: 90px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.about-content h3 {
  font-weight: 500;
  background: #eaeaea;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
}

.badge {
  font-weight: 500;
  background: #eaeaea;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  text-transform: uppercase;
}

.team-image {
  background: url(images/image\ copy\ 4.png) no-repeat center/cover;
  height: 50vh;
  border-radius: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .about-content img {
    height: 100%;
  }

  .about-content h3 {
    font-size: 20px;
  }

  .about-content h2 {
    font-size: 50px;
  }
}

/* WHO WE ARE */

.wwa-content p {
  font-size: 40px;
  line-height: 1.5;
  margin-top: 50px;
  font-weight: 500;
}

/* Process */

.process {
  padding: 100px 0;
}

.top-text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.top-text h2 {
  margin-top: 30px;
}

.process-row {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.process-col {
  width: 140px;
  min-height: 550px;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 30px;
  z-index: 0;
  transition: flex 0.5s;
  flex: 0 0 140px;
  background: center cover/no-repeat;
}

.process-col::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.9), #ffffff00);
  z-index: 0;
}

.process-col:hover,
.process-col.expand {
  flex: 0 0 645px;
}

.title {
  rotate: -90deg;
  position: absolute;
  font-size: 40px;
  left: -30px;
  bottom: 130px;
  white-space: nowrap;
  transition: 0.5s;
  color: #fff;
  z-index: 10;
}

.process-col:hover .title {
  opacity: 0;
}

.hover-display h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}

.hover-display p {
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
}

.hover-display {
  position: absolute;
  bottom: 50px;
  width: 500px;
  opacity: 0;
  z-index: 10;
}

.process-col:hover .hover-display {
  display: block;
}

.expand .title {
  opacity: 0;
}

.expand .hover-display {
  opacity: 1;
}

@media (max-width: 768px) {
  .process-col {
    width: 100%;
    min-height: 400px;
    margin: 10px 0;
  }

  .title {
    display: none;
  }

  .hover-display {
    opacity: 1;
    width: 80%;
    /* left: 0; */
  }

  .process-row {
    display: block;
  }
}

/* Mission */

.mission {
  margin: 100px 0;
  position: relative;
}

.mission-row {
  display: flex;
  justify-content: space-around;
}

.mission-col {
  width: 40%;
  height: 500px;
}

.col-back {
  background: url(images/image\ copy\ 5.png) no-repeat center/cover;
  height: 550px;
  border-radius: 20px;
}

.mission-col h2 {
  margin: 30px 0;
}

@media (max-width: 768px) {
  .mission-row {
    display: block;
  }

  .mission-col {
    width: 100%;
  }
}

/* Vision */

.vision {
  padding: 100px 0;
  position: relative;
}

.vision-row {
  display: flex;
  justify-content: space-between;
}

.vision-col {
  height: 550px;
  width: 40%;
}

.vision-back {
  background: url(images/image\ copy\ 10.png) no-repeat center/cover;
  height: 550px;
  border-radius: 20px;
}

.vision-col {
  h2 {
    margin: 30px 0;
  }
}

@media (max-width: 768px) {
  .vision-row {
    display: block;
    order: 1;
  }

  .vision-col {
    width: 100%;
    order: 1;
    margin: 50px 0;
  }
}

/* Faq */

.faq {
  padding: 100px 0;
  position: relative;
}

.faq-tab {
  border-bottom: 1px solid #eaeaea;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.faq-header h2 {
  font-size: 40px;
  font-weight: 500;
}

.faq-header i {
  font-size: 35px;
  rotate: 45deg;
}

.faq-body {
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-out;
  display: none;
  width: 90%;
  padding: 30px 20px;
}

.faq-body.open {
  max-height: 500px; /* Large enough to fit your text */
  display: block;
  padding-top: 20px;
}

.faq-tab:has(.faq-body.open) .faq-close {
  transform: rotate(45deg);
}

.fa-close {
  transition: color 0.3s ease;
}

.faq-content-text {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .faq-header h2 {
    font-size: 30px;
  }
}
