.contact-row {
  display: flex;
  justify-content: space-between;
}

.contact-left {
  width: 35%;
  background: url(images/image\ copy\ 10.png) no-repeat center/cover;
  border-radius: 20px;
}

.contact-right {
  width: 60%;
}

.contact-right h3 {
  margin-bottom: 30px;
  font-size: 34px;
  margin-top: 20px;
  font-weight: 500;
}

iframe {
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .contact-row {
    display: block;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    width: 100%;
  }

  iframe {
    overflow-y: hidden;
    height: 1000px;
  }
}

/* Socials */

.socials {
  padding: 100px 0;
}

.socials-row {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.socials-col {
  width: 32%;
  padding: 50px;
  border-radius: 20px;
}

.socials-col h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.socials-col h4 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 20px;
}

.socials-col img {
  margin: 0;
  margin-bottom: 20px;
}

.socials-col i {
  font-size: 30px;
  transition: 0.5s;
}

.socials-col i:hover {
  font-size: 30px;
  color: #333;
  scale: 1.2;
}

@media (max-width: 768px) {
  .socials-row {
    display: block;
  }

  .socials-col {
    width: 100%;
    margin-bottom: 20px;
  }

  .socials {
    padding: 60px;
  }
}
