.work-section {
  padding: 100px;
}

.swiper {
  width: 100%;
  height: 700px;
  padding: 50px 100px;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: left;
  position: relative;
  border-radius: 20px;
  transition: 0.5s;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide .project-details {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

/*  */
.splide__slide img {
  width: 100%;
  height: 30vh;
}
/*  */
