@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "outfit", sans-serif;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
  background: inherit;
}

li {
  list-style: none;
}

header {
  width: 100%;
}

.header-wrapper {
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: s;
}

.logo img {
  filter: grayscale(1);
}

.menu-bar {
  height: 3px;
  border-radius: 50px;
  width: 30px;
  background: #000;
  margin: 5px 0;
}

.menu {
  cursor: pointer;
  position: relative;
}

.menu .tooltip {
  position: absolute;
  top: 3px;
  right: 50px;
  display: inline-block;
  padding: 2px 10px;
  background: #f4f4f4;
  border: 1px solid #333;
  border-radius: 50px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}

.menu:hover .tooltip {
  opacity: 1;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-btn button a {
  padding: 14px 20px;
  background: linear-gradient(150deg, #3d3d3d 20%, #000 80%);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

.nav-btn button a:hover {
  background: linear-gradient(-150deg, #3d3d3d 20%, #000 80%);
}

.nav-btn button a i {
  rotate: -45deg;
  transition: all 0.5s;
  margin-left: 10px;
}

.nav-btn button a:hover i {
  rotate: 0deg;
}

.menu-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
  background: #f4f4f4;
  transition: 1s;
  z-index: 9999999;
}

.menu-dropdown-content {
  width: 900px;
  margin: 0 auto;
}

.dropdown-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.menu-dropdown-content h1 {
  font-size: 100px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #3d3d3d;
  font-family: "poppins", sans-serif;
  margin-bottom: 40px;
}

.close i {
  font-size: 30px;
}

.close {
  position: absolute;
  right: 200px;
  top: 30px;
  cursor: pointer;
}

.col i {
  margin-right: 20px;
}

.col a:hover {
  color: #333;
}

.col h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.socials a,
.col a {
  display: block;
  align-items: center;
  column-gap: 30px;
  margin: 20px 0;
  font-size: 18px;
}

.dropdown-text-content {
  margin-top: 30px;
}

.dropdown-text-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.dropdown-text-content p {
  margin-bottom: 30px;
}

.dropdown-text-content button {
  padding: 14px 30px;
  background: #000;
  color: #fff;
  transition: background 0.5s;
}

.dropdown-text-content button:hover {
  background: #333;
}

.dropdown-text-content button i {
  margin-left: 10px;
  transform: rotate(-45deg);
  transition: all 0.5s;
}

.dropdown-text-content button:hover i {
  transform: rotate(0);
}

@media (max-width: 768px) {
  .menu-dropdown-content h1 {
    font-size: 40px;
  }

  .menu-dropdown {
    overflow-y: auto;
  }

  .dropdown-row {
    display: block;
    margin-top: 20px;
    padding: 30px;
  }

  .close {
    right: 30px;
    top: 10px;
  }
}

/* =======
Hero
========== */

.hero {
  background-attachment: fixed;
}
.hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  position: relative;
  overflow: hidden;
}

.hero-content {
  position: relative;
  width: 100%;
}

.hero-content h1 {
  font-size: 150px;
  text-align: center;
  z-index: 10;
  color: #3d3d3d;
}

.hero-content img {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 350px;
  right: 40%;
  left: 30%;
  top: -200px;
  z-index: -1;
  transition: 0.9s linear;
}

.scroll {
  rotate: 90deg;
  position: absolute;
  bottom: 60px;
  right: 0;
}

.scroll p i {
  margin-left: 30px;
}

.hero-image {
  z-index: -1;
}

.right-image {
  position: absolute;
  left: 0;
  bottom: 0;
  perspective: 100px;
  rotate: 25deg;
  top: 100px;
}

.right-image {
  width: 300px;
  border-radius: 20px;
  height: 100%;
  border-radius: 20px;
}

.left-image {
  position: absolute;
  right: 0;
  z-index: 0;
  rotate: 25deg;
  right: 100px;
}

.left-image img {
  width: 400px;
}

.hero-content p {
  text-align: center;
  font-size: 40px;
}

@media (max-width: 786px) {
  .hero-content h1 {
    font-size: 100px;
  }

  .hero-content img {
    max-width: 200px;
    left: 20%;
    transform: rotate(0deg) translateX(0px);
  }

  .scroll {
    right: 0px;
  }

  .hero-wrapper {
    height: 100dvh;
  }
}

/*=========
 Service 
===========*/

.services {
  margin: 100px 0 100px 0;
  background: #fff;
  width: 100%;
}

.services-wrapper {
  margin: 0 auto;
  width: 100%;
}

.service-content h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.service-content h2 {
  font-size: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.service-content h2 span {
  color: #c7c4c4;
}

.service-content p {
  line-height: 1.4;
  width: 900px;
  float: right;
  color: #3d3d3d;
}

.service-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  gap: 5px;
}

.service-col {
  height: 500px;
  width: 33.3%;
  transition: 0.3s linear;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.service-col:hover {
  flex-basis: 80%;
}

.service-col img {
  height: 100%;
  width: 100%;
  object-position: top center;
  object-fit: cover;
  transition: 0.5s;
  z-index: 0;
}

.service-col:hover img {
  transform: scale(1.2);
}

.col-content {
  z-index: 10;
  position: absolute;
  bottom: 30px;
  padding: 20px;
}

.col-content p {
  margin-bottom: 30px;
  color: #fff;
}

.col-content h3 {
  color: #fff;
  font-weight: 600;
}
.service-col::after {
  content: "";
  background: linear-gradient(180deg, #ffffff00, #000) rgb(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.col-content .btn button a {
  padding: 15px 30px;
  background: #fff;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.5s;
}

.col-content .btn button a:hover {
  background: #333;
  color: #fff;
}

.col-content .btn button a:hover i {
  transform: rotate(0);
  color: #fff;
}

.col-content .btn button i {
  margin-left: 10px;
  transform: rotate(-45deg);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .service-row {
    display: block;
  }

  .service-col {
    width: 100%;
    margin-top: 20px;
  }

  .service-content p {
    width: 100%;
    margin-bottom: 30px;
  }

  .service-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/* CTA */

.call-to-action {
  padding: 100px 0;
  /* height: 100vh; */
  width: 100%;
  background: #fff;
}

.call-to-action-wrapper {
  background:
    linear-gradient(to right, rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 0.103)),
    url(images/image.png) no-repeat center/ cover;
  height: 70vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content h2 {
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.cta-content button a {
  padding: 15px 20px;
  background: #fff;
  border-radius: 50px;
}

.cta-content .cta-btn {
  text-align: center;
}

.cta-content button i {
  margin-left: 10px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .cta-content h2 {
    font-size: 50px;
  }
}

/* Team */

.team-section {
  background: #fff;
  padding: 50px 0;
}

.team-section-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: start;
  margin-top: 50px;
}

.team-details {
  height: 150px;
  background: #fff;
  width: 100%;
  padding: 20px;
}

.team-details h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.team-section h3 {
  font-size: 90px;
}

.team-img {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.team-img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  object-fit: cover;
  transition: 0.5s;
}

.team-col:hover img {
  transform: scale(1.2);
}

.team-col {
  width: 25%;
  background: white;
  transition: 0.5s;
  border-radius: 10px;
}

.team-col:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .team-section-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .team-col {
    width: 45%;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  .team-col {
    width: 100%;
    margin-top: 20px;
  }

  .team-section-row {
    display: block;
    flex-direction: column;
  }
}

/* Moving Text */

.ticker-container {
  width: 100%;
  overflow: hidden;
  color: white;
  padding: 10px 0;
  white-space: nowrap;
}

.thicker-text-content {
  overflow: hidden;
  padding: 50px 50px;
  background: #000;
  border-radius: 20px;
}

.ticker-text .sliding-text {
  display: flex;
  animation: marquee 5s linear infinite;
}

.ticker-text {
  font-weight: bold;
  font-size: 90px;
  /* padding-right: 50px; */
}

.right-slide {
  display: flex;
  gap: 30px;
  padding-left: 20%;
  animation: marquee-right 5s linear infinite;
}

/* The Animation Logic */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
  }
}

.ticker-btn {
  text-align: center;
}

.ticker-btn button a {
  padding: 14px 20px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.5s;
}

.ticker-btn button a:hover {
  background: #fff;
  color: #000;
}

.ticker-btn button a i {
  transform: rotate(-45deg);
  transition: 0.5s;
  margin-left: 10px;
}

.ticker-btn button a:hover i {
  transform: rotate(0);
}

/* Footer */

footer {
  padding: 100px 0;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-col h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  font-weight: 600;
}

.site-title h1 {
  font-size: 150px;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #3d3d3d;
  gap: 20px;
}

.footer-bottom .site-image {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .footer-row {
    /* display: block; */
    flex-wrap: wrap;
  }

  .footer-col {
    margin-top: 20px;
    width: 50%;
  }

  .site-title h1 {
    font-size: 30px;
    display: none;
  }
}

/* Scroll tot he top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  /* background-color: #000;  */
  color: #000;
  box-shadow: 0 0 30px #55555546;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
